@{
}
<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>TaskoMask:@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="~/content/css/admin.min.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)

</head>
<body class="theme-black">
    <div class="wrapper">
        <div class="wrapper-header">
            <div class="wrapper-header-bar">
                <ul class="nav-bar is-right">
                    <li>
                        <a role="button" data-toggle="sidebar-open">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
                @*@await Component.InvokeAsync(nameof(UserMenu))*@

                <ul class="nav-bar nav-quick">

                    <li><a title="dashboard" href="@Url.Action(action: "index", controller: "dashboard", values: new { Area = "Administration"})"><i class="si si-speedometer"></i></a></li>
                    <li><a title="members" href="#"><i class="si si-users"></i></a></li>
                    <li><a title="settings" href="#"><i class="si si-settings"></i></a></li>
                    <li><a title="logout" href="@Url.Action(action: "logout", controller: "account", values: new { Area = ""})"><i class="si si-power"></i></a></li>

                </ul>
            </div>
        </div>
        <div class="wrapper-sidebar">
            <a role="button" data-toggle="sidebar-close">
                <i style="color:red" class="si si-close"></i>
            </a>
            <div id="sidebar-scroll">
                <div class="sidebar">
                    <div class="sidebar-header">
                        <img src="~/Content/img/cmc-logo.png" />
                    </div>
                    <div class="sidebar-content">
                        <ul class="nav-main">
                            <li>
                                <a class="nav-main-dashboard" href="@Url.Action(action: "index", controller: "dashboard", values: new { Area = "Administration"})">
                                    <span class="si si-speedometer"></span>
                                </a>
                            </li>


                            <li>
                                <a class="nav-submenu" data-toggle="nav-submenu" role="button">
                                    Team
                                    <span class="si si-users"></span>
                                </a>
                                <ul class="sidebar__nav__sub">
                                    <li><a href="@Url.Action(action: "index", controller: "Members", values: new { Area = "Team"})">Members </a></li>
                                    <li><a href="@Url.Action(action: "index", controller: "Organizations", values: new { Area = "Team"})">Organizations </a></li>
                                    <li><a href="@Url.Action(action: "index", controller: "Projects", values: new { Area = "Team"})">Projects </a></li>
                                </ul>

                            </li>


                            <li>
                                <a class="nav-submenu" data-toggle="nav-submenu" role="button">
                                    Workspace
                                    <span class="si si-check"></span>
                                </a>
                                <ul class="sidebar__nav__sub">
                                    <li><a href="@Url.Action(action: "index", controller: "Tasks", values: new { Area = "Workspace"})">Tasks </a></li>
                                    <li><a href="@Url.Action(action: "index", controller: "Cards", values: new { Area = "Workspace"})">Cards </a></li>
                                    <li><a href="@Url.Action(action: "index", controller: "Boards", values: new { Area = "Workspace"})">Boards </a></li>
                                </ul>

                            </li>
                            <li>
                                <a class="nav-submenu" data-toggle="nav-submenu" role="button">
                                    Administration
                                    <span class="si si-lock"></span>
                                </a>
                                <ul class="sidebar__nav__sub">
                                    <li><a href="@Url.Action(action: "index", controller: "Operators", values: new { Area = "Administration"})">Operators </a></li>
                                    <li><a href="@Url.Action(action: "index", controller: "Roles", values: new { Area = "Administration"})">Roles </a></li>
                                    <li><a href="@Url.Action(action: "index", controller: "Permissions", values: new { Area = "Administration"})">Permissions </a></li>
                                </ul>

                            </li>
                            <li>
                                <a class="nav-submenu" href="@Url.Action(action: "logout", controller: "account", values: new { Area = ""})">
                                    logout
                                    <span class="si si-power"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-inner">
            <div class="wrapper-content">
                <div class="wrapper-content-header">
                    <h3 class="title">@ViewBag.Title</h3>
                </div>
                @RenderBody()
                <div class="global-ajax-loading" id="global-ajax-loading"></div>
            </div>
        </div>
    </div>
    <script src="~/content/js/admin.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script>

        (function ($) {

            $('.block-scroll').slimscroll({
                height: $(this).find('.block-content').height()
            });

            $("#global-ajax-loading").height($(".wrapper-content").height());

        })(jQuery);


    </script>

</body>
</html>