@model TaskoMask.Presentation.UI.AdminPanle.Area.Admin.Models.DashboardIndexViewModel
@{
    ViewBag.Title = "Dashboard";
}

<div class="grid-content">
    <div class="grid-20 tablet-grid-50 mobile-grid-100">
        <div class="stat-tiles color-1">
            <div class="stat-tiles-body">
                <div class="stat-icon">
                    <i class="si si-wallet"></i>
                </div>
                <div class="stat-details">
                    <div class="number to-rial font-s22">@Model.OwnersCount</div>
                    <div class="desc">Owners</div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-20 tablet-grid-50 mobile-grid-100">
        <div class="stat-tiles color-2">
            <div class="stat-tiles-body">
                <div class="stat-icon">
                    <i class="si si-wallet"></i>
                </div>
                <div class="stat-details">
                    <div class="number to-rial font-s22">@Model.OrganizationsCount</div>
                    <div class="desc">Organizations</div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-20 tablet-grid-50 mobile-grid-100">
        <div class="stat-tiles color-3">
            <div class="stat-tiles-body">
                <div class="stat-icon">
                    <i class="si si-wallet"></i>
                </div>
                <div class="stat-details">
                    <div class="number to-rial font-s22">@Model.ProjectsCount</div>
                    <div class="desc">Projects</div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-20 tablet-grid-50 mobile-grid-100">
        <div class="stat-tiles color-4">
            <div class="stat-tiles-body">
                <div class="stat-icon">
                    <i class="si si-wallet"></i>
                </div>
                <div class="stat-details">
                    <div class="number to-rial font-s22">@Model.BoardsCount</div>
                    <div class="desc">Boards</div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="grid-20 tablet-grid-50 mobile-grid-100">
        <div class="stat-tiles color-4">
            <div class="stat-tiles-body">
                <div class="stat-icon">
                    <i class="si si-wallet"></i>
                </div>
                <div class="stat-details">
                    <div class="number to-rial font-s22">@Model.CardsCount</div>
                    <div class="desc">Cards</div>
                </div>
            </div>
        </div>
    </div>*@
    <div class="grid-20 tablet-grid-50 mobile-grid-100">
        <div class="stat-tiles color-1">
            <div class="stat-tiles-body">
                <div class="stat-icon">
                    <i class="si si-wallet"></i>
                </div>
                <div class="stat-details">
                    <div class="number to-rial font-s22">@Model.TasksCount</div>
                    <div class="desc">Tasks</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid-content">
    <div class="grid-50 tablet-grid-50 mobile-grid-100">
        <div class="block  block-scroll">
            <div class="block-header">
                <h4>New owners on last dayes (fake data)</h4>
            </div>
            <div class="block-content block-scroll height-400">
                <canvas id="new-owners-chart-area" class="chart-canvas" />
            </div>
        </div>
    </div>

    <div class="grid-50 tablet-grid-50 mobile-grid-100">
        <div class="block  block-scroll">
            <div class="block-header">
                <h4>New tasks on last days (fake data)</h4>
            </div>
            <div class="block-content block-scroll height-400">
                <canvas id="new-tasks-chart-area" class="chart-canvas" />
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/content/js/chart.min.js"></script>
    <script>
        (function ($) {


            var chartLables = [];
            var chartDataset = [];
            var chartData = [];
            var ctx;



            //=====================new-owners-chart==========================
            chartLables.push('1/1/2021');
            chartDataset.push(20);
            chartLables.push('2/1/2021');
            chartDataset.push(30);
            chartLables.push('3/1/2021');
            chartDataset.push(19);
            chartLables.push('4/1/2021');
            chartDataset.push(23);
            chartLables.push('5/1/2021');
            chartDataset.push(29);
            chartLables.push('6/1/2021');
            chartDataset.push(35);
            chartLables.push('7/1/2021');
            chartDataset.push(32);

            chartData = {
                labels: chartLables,
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "#3e51b5",
                        strokeColor: "#3646a8",
                        highlightFill: "#3646a8",
                        highlightStroke: "#3646a8",
                        data: chartDataset
                    }
                ]
            };

            ctx = document.getElementById("new-owners-chart-area").getContext("2d");
            ctxChart = new Chart(ctx).Bar(chartData, null);
            chartLables = []; chartDataset = []; chartData = [];


            //=====================new-tasks-chart===================================

            chartLables.push('1/1/2021');
            chartDataset.push(50);
            chartLables.push('2/1/2021');
            chartDataset.push(40);
            chartLables.push('3/1/2021');
            chartDataset.push(45);
            chartLables.push('4/1/2021');
            chartDataset.push(57);
            chartLables.push('5/1/2021');
            chartDataset.push(55);
            chartLables.push('6/1/2021');
            chartDataset.push(53);
            chartLables.push('7/1/2021');
            chartDataset.push(41);
            chartData = {
                labels: chartLables,
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "#3e51b5",
                        strokeColor: "#3646a8",
                        highlightFill: "#3646a8",
                        highlightStroke: "#3646a8",
                        data: chartDataset
                    }
                ]
            };


            ctx = document.getElementById("new-tasks-chart-area").getContext("2d");
            ctxChart = new Chart(ctx).Bar(chartData, null);
            chartLables = []; chartDataset = []; chartData = [];


        })(jQuery);
    </script>
}

