<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaskMask: @ViewData["Title"]</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="~/content/public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/admin/css/admin.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand btn btn-outline-light text-dark-hover" href="@Url.Action(action: "index",controller:"home",values:new { Area=""})">TaskoMask</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="m-1 btn btn-sm btn-info" href="@Url.Action(action: "index",controller:"home",values:new { Area=""})" title="home">
                        <i class="bi bi-house-fill"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="m-1 btn btn-sm btn-success" href="@Url.Action(action: "index",controller:"dashboard",values:new { Area="admin"})" title="dashboard">
                        <i class="bi bi-speedometer"></i>
                    </a>
                </li>

            </ul>
            <div class="form-inline my-2 my-lg-0">
                <div class="dropdown show">
                    <a class="btn btn-secondary btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Create
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="@Url.Action(action: "create",controller:"organizations",values:new { Area="admin"})">
                            <i class="bi bi-building"></i>
                            New Organization
                        </a>
                        <a class="dropdown-item" href="@Url.Action(action: "create",controller:"projects",values:new { Area="admin"})">
                            <i class="bi bi-kanban"></i>
                            New Project
                        </a>
                        <a class="dropdown-item" href="@Url.Action(action: "create",controller:"boards",values:new { Area="admin"})">
                            <i class="bi bi-clipboard-plus"></i>
                            New Board
                        </a>
                        <a class="dropdown-item" href="@Url.Action(action: "add",controller:"members",values:new { Area="admin"})">
                            <i class="bi bi-people"></i>
                            Add Member
                        </a>
                    </div>
                </div>
               
                <a class="m-1 btn btn-sm btn-warning my-2 my-sm-0" href="@Url.Action(action: "update",controller:"account",values:new { Area=""})">
                    <i class="bi bi-person-circle"></i>
                </a>
                <a class="m-1 btn btn-sm btn-danger my-2 my-sm-0" href="@Url.Action(action: "logout",controller:"account",values:new { Area=""})">
                    <i class="bi bi-power"></i>
                </a>

            </div>
        </div>
    </nav>

    <main role="main" class="container">
        @RenderBody()
    </main>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">
                <p>Developed by <a href="https://github.com/hamed-shirbandi" target="_blank">Hamed Shirbandi</a>. Find the source on  <a href="https://github.com/hamed-shirbandi/TaskoMask" target="_blank">GitHub</a></p>
            </span>
        </div>
    </footer>


    <script src="~/content/public/js/jquery.min.js"></script>
    <script src="~/content/public/js/popper.min.js"></script>
    <script src="~/content/public/js/bootstrap.min.js"></script>
    <script src="~/content/admin/js/admin.js"></script>

    @RenderSection("Scripts", required: false)
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>
