@model TaskoMask.Application.Share.Dtos.Workspace.Cards.CardBasicInfoDto
@{
}

<div class="form">

    <fieldset>

        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-input-1", @readOnly = "readonly" })

    
        @Html.LabelFor(model => model.Type)
        <input type="text" name="Type" value="@Model.Type.GetDisplayName()" class = "form-input-1" readOnly = "readonly" />

        @Html.LabelFor(model => model.CreationTime.CreateDateTimeString)
        @Html.TextBoxFor(model => model.CreationTime.CreateDateTimeString, new { @class = "form-input-1", @readOnly = "readonly" })

        <hr />

        <a href="@Url.Action("Index", "Cards", new { })" class="btn btn-default">
            Back
        </a>

    </fieldset>
</div>
