@model IEnumerable<TaskoMask.Application.Share.Dtos.Ownership.Roles.RoleBasicInfoDto>

@if (Model.Count() == 0)
{
    <div id="no-item-alert-area" class="grid-container">
        <div class="alert alert-info">
            <h4>No item to show!</h4>
        </div>
    </div>
}
else
{
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.LabelFor(model => model.FirstOrDefault().Name)</th>
                <th>@Html.LabelFor(model => model.FirstOrDefault().PermissionsId)</th>
                <th><label></label></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr data-table-row-id="@item.Id">
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.PermissionsId.Length
                    </td>

                    <td>
                        <div class="btn-group-xs">
                            <a href="@Url.Action( "update","roles", new { id = item.Id }) " class=" btn btn-primary btn-xs btn-xs-circle">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
}


