@model TaskoMask.Application.Share.Dtos.Workspace.Members.MemberBasicInfoDto
@{
}

<div class="form">

    <fieldset>

        @Html.LabelFor(model => model.DisplayName)
        @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-input-1", @readOnly = "readonly" })


        @Html.LabelFor(model => model.PhoneNumber)
        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-input-1", @readOnly = "readonly" })


        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-input-1", @readOnly = "readonly" })


        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-input-1", @readOnly = "readonly" })

        @Html.LabelFor(model => model.CreationTime.CreateDateTimeString)
        @Html.TextBoxFor(model => model.CreationTime.CreateDateTimeString, new { @class = "form-input-1", @readOnly = "readonly" })

        <hr />

        <a href="@Url.Action("Index", "Members", new { })" class="btn btn-default">
            Back
        </a>

    </fieldset>
</div>
