@using TaskoMask.BuildingBlocks.Contracts.Dtos.Boards

@foreach (var item in Model)
{
    <div class="col-md-3 col-sm-6 col-6 p-2">
        <div class="card bg-primary text-white min-height-9rem overflow-hidden card-hover">
            <h6 class="card-header">
                <a class="text-white" href="@($"/board/{item.Id}")">
                    @item.Name
                </a>
                <a @onclick="@(()=>ShowUpdateBoardModal(item.Id))" class="text-warning float-right" >
                    <i class="bi bi-pencil"></i>
                </a>
            </h6>
            <a href="@($"/board/{item.Id}")">
                <div class="card-body text-white">
                    <small>@item.Description</small>
                </div>
            </a>
        </div>
    </div>
}

<div class="col-md-3 col-sm-6 col-6 p-2">
    <a @onclick="@(()=>ShowAddBoardModal())" class="text-center">
        <div class="card text-center text-muted justify-content-center min-height-9rem bg-light-gray card-hover">
            <i class="bi bi-plus">add new board</i>
        </div>
    </a>
</div>



@code {


    [Parameter]
    public IEnumerable<GetBoardDto> Model { get; set; }


    [Parameter]
    public string ProjectId { get; set; }


    [Parameter]
    public string OrganizationId { get; set; }


    /// <summary>
    ///
    /// </summary>
    private void ShowAddBoardModal()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(Pages.Boards.Components.AddBoard.ProjectId), ProjectId);
        parameters.Add(nameof(Pages.Boards.Components.AddBoard.OrganizationId), OrganizationId);
        ModalService.Show<Pages.Boards.Components.AddBoard>("Add Board", parameters, new ModalOptions { Class="blazored-modal w-75 w-md-50 bg-light-gray"});
    }


    /// <summary>
    ///
    /// </summary>
    private void ShowUpdateBoardModal(string boardId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(Pages.Boards.Components.UpdateBoard.Id), boardId);
        ModalService.Show<Pages.Boards.Components.UpdateBoard>("Update board", parameters, new ModalOptions { Class="blazored-modal w-75 w-md-50 bg-light-gray"});
    }
}
