@model TaskoMask.Application.Core.ViewModels.RoleDetailViewModel

<div class="table-responsive">
    <form class="form" asp-action="UpdatePermissions" data-ajax="true" data-ajax-loading="#global-ajax-loading" data-ajax-method="Post">

        @Html.AntiForgeryToken()

        <input type="hidden" name="id" value="@Model.Role.Id" />

        @foreach (var group in Model.Permissions)
        {
            <div class="alert alert-info no-pad-tb">
                <h3>@group.Key</h3>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th><label></label></th>
                        <th width="50"><label></label></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var permission in group.Value)
                    {
                        <tr>
                            <td>@permission.Text</td>
                            <td><input type="checkbox" name="PermissionsId" value="@permission.Value" checked=@(permission.Selected == true ? "checked" : null ) /></td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <button type="submit" class="btn btn-primary">
            Save Permissions
        </button>
        <hr />
    </form>

</div>

