@using TaskoMask.Application.Share.Dtos.Workspace.Boards

@foreach (var item in Model)
{
    <div class="col-md-3 col-sm-6 col-6 p-2">
        <div class="card bg-primary text-white card-min-width card-hover">
            <h6 class="card-header">
                <a class="text-white" href="@($"/board/{item.Id}")">
                    @item.Name
                </a>
                <a @onclick="@(()=>ShowUpdateModal(item.Id))" class="text-warning float-right" title="Edit">
                    <i class="bi bi-pencil"></i>
                </a>
            </h6>
            <a href="@($"/board/{item.Id}")">
                <div class="card-body text-white">
                    <small>@item.Description</small>
                </div>
            </a>
        </div>
    </div>
}

<div class="col-md-3 col-sm-6 col-6 p-2">
    <a @onclick="@(()=>ShowCreateModal())" class="text-center">
        <div class="card text-center text-muted justify-content-center card-min-width bg-light-gray card-hover">
            <i class="bi bi-plus">add new board</i>
        </div>
    </a>
</div>



@code {


    [Parameter]
    public IEnumerable<BoardBasicInfoDto> Model { get; set; }


    [Parameter]
    public string ProjectId { get; set; }


    [Parameter]
    public string OrganizationId { get; set; }


    /// <summary>
    ///
    /// </summary>
    private void ShowCreateModal()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(Pages.Boards.Components.CreateBoard.ProjectId), ProjectId);
        parameters.Add(nameof(Pages.Boards.Components.CreateBoard.OrganizationId), OrganizationId);
        ModalService.Show<Pages.Boards.Components.CreateBoard>("Create board", parameters, new ModalOptions { DisableBackgroundCancel = true });
    }


    /// <summary>
    ///
    /// </summary>
    private void ShowUpdateModal(string boardId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(Pages.Boards.Components.UpdateBoard.Id), boardId);
        ModalService.Show<Pages.Boards.Components.UpdateBoard>("Update board", parameters, new ModalOptions { DisableBackgroundCancel = true });
    }
}
