@model TaskoMask.BuildingBlocks.Contracts.Dtos.Membership.Roles.RoleUpsertDto
@{
}
<form class="form" asp-action="@ViewContext.RouteData.Values["action"]" data-ajax="true" data-ajax-loading="#global-ajax-loading" data-ajax-method="Post">

    <fieldset>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-input-1" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "form-message is-error" })

        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @class = "form-input-1" })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "form-message is-error" })

        <hr />

        <button type="submit" class="btn btn-primary">
            Save
        </button>
        <a href="@Url.Action("Index", "Roles", new { })" class="btn btn-default">
            Back
        </a>
    </fieldset>
</form>
