@model TaskoMask.Web.Area.Admin.Models.DashboardIndexViewModel
@{
    ViewData["Title"] = "Dashboard";
}


<ul class="nav nav-tabs">
    <li class='nav-item'>
        <a class='nav-link active' data-toggle='tab' href='#organizations'>organizations</a>
    </li>
    <li class='nav-item'>
        <a class='nav-link ' data-toggle='tab' href='#tasks'>pending tasks</a>
    </li>
</ul>
<br />
<div class="tab-content">
    <div class='tab-pane container fade in show active' id='organizations'>
        <div class="container">
            <div class="row">
                @foreach (var item in Model.OrganizationsDetailsList)
                {
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h6><strong>@item.Organization.Name</strong></h6>
                            </div>
                            <div class="card-body">

                                <div class="col-md-4 col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h6><strong>Reports</strong></h6>
                                        </div>
                                        <div class="card-body">
                                            <table>
                                                <tr>
                                                    <td>@Html.DisplayNameFor(model => item.Reports.ProjectsCount) </td>
                                                    <td>@item.Reports.ProjectsCount</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.DisplayNameFor(model => item.Reports.TasksCount) </td>
                                                    <td>@item.Reports.TasksCount</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.DisplayNameFor(model => item.Reports.ToDoTasksCount) </td>
                                                    <td>@item.Reports.ToDoTasksCount</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.DisplayNameFor(model => item.Reports.DoingTasksCount) </td>
                                                    <td>@item.Reports.DoingTasksCount</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.DisplayNameFor(model => item.Reports.DoneTasksCount) </td>
                                                    <td>@item.Reports.DoneTasksCount</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h6><strong>Projects</strong></h6>
                                        </div>
                                        <div class="card-body">
                                            <table>

                                                @foreach (var Project in item.Projects)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayNameFor(model => Project.Name) </td>
                                                        <td>@Project.Name</td>
                                                    </tr>
                                                }

                                            </table>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-4 col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h6><strong>Last Tasks</strong></h6>
                                        </div>
                                        <div class="card-body">
                                            <table>

                                                @foreach (var tasks in item.LastTasks)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayNameFor(model => tasks.Title) </td>
                                                        <td>@tasks.Title</td>
                                                    </tr>
                                                }
                                            </table>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <div class='tab-pane container fade' id='tasks'>
        <h3>pending tasks </h3>
        <p>list of all pending tasks from all organizations.</p>
    </div>
</div>


