@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>TaskoMask: @ViewBag.Title</title>
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/css/site.css" rel="stylesheet" />
</head>

<body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">TaskoMask</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="@Url.Action(action: "index",controller:"home")">Home</a>
                    <a class="nav-link" href="@Configuration["Url:UserPanel"]">Login</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            @RenderBody()
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>©@DateTime.Now.Year  taskomask.ir | Find the source on  <a href="https://github.com/hamed-shirbandi/TaskoMask" target="_blank">GitHub</a></p>
            </div>
        </footer>

    </div>

    <script src="~/content/js/jquery.min.js"></script>
    <script src="~/content/js/popper.min.js"></script>
    <script src="~/content/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
