@model TaskoMask.Web.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home";
}

<h1 class="cover-heading">Manage Your Tasks!</h1>
<p class="lead">
    TaskoMask is created for managing your tasks. It is open source and free to use. You can download the source and publish it on your own server or easily use it from our server.
</p>
<hr />
<button type="button" class="btn btn-danger">
    Members <span class="badge badge-light">@Model.MembersCount</span>
</button>
<button type="button" class="btn btn-primary">
    Organizations <span class="badge badge-light">@Model.OrganizationsCount</span>
</button>
<button type="button" class="btn btn-warning">
    Projects <span class="badge badge-light">@Model.ProjectsCount</span>
</button>
<button type="button" class="btn btn-success">
    Boards <span class="badge badge-light">@Model.BoardsCount</span>
</button>
<button type="button" class="btn btn-info">
    Tasks <span class="badge badge-light">@Model.TasksCount</span>
</button>

