@using TaskoMask.Application.Core.ViewModels

<div class="col-10 mx-auto">
    <h5 data-toggle="tooltip" data-placement="left" title="@Model.Organization.Description">
        <i class="bi bi-building"></i>
        @Model.Organization.Name
    </h5>

    <TabNav Model="@Model.Organization" />

    <div class="tab-content py-4">
        <div class="tab-pane active" id="boards-@Model.Organization.Id" role="tabpanel">
            <div class="row">
                @foreach (var board in Model.Boards)
                {
                    <Board Model="@board" />
                }
            </div>
        </div>

        <div class="tab-pane" id="projects-@Model.Organization.Id" role="tabpanel">
            <div class="row">
                @foreach (var project in Model.Projects)
                {
                    <Project Model="@project" />
                }
            </div>
        </div>

        <div class="tab-pane" id="tasks-@Model.Organization.Id" role="tabpanel">
            <div class="row">
                @foreach (var task in Model.LastTasks)
                {
                    <Task Model="@task" />
                }
            </div>
        </div>

        <div class="tab-pane" id="members-@Model.Organization.Id" role="tabpanel">
            <div class="row">
                @foreach (var member in Model.Members)
                {
                    <Member Model="@member" />
                }
            </div>
        </div>

        <div class="tab-pane" id="reports-@Model.Organization.Id" role="tabpanel">
            <div class="row">
                <Report Model="@Model.Reports" />
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public OrganizationDetailsViewModel Model { get; set; }
}
