@using TaskoMask.Application.Core.ViewModels

<div class="col-10 mx-auto">
    <h5 data-toggle="tooltip" data-placement="left" title="@Model.Organization.Description">
        <i class="bi bi-building"></i>
        @Model.Organization.Name
    </h5>
    <ul class="nav nav-tabs small justify-content-end" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#boards-@Model.Organization.Id" role="tab">
                <i class="bi bi-clipboard-plus"></i>
                Boards
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#projects-@Model.Organization.Id" role="tab">
                <i class="bi bi-kanban"></i>
                Projects
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tasks-@Model.Organization.Id" role="tab">
                <i class="bi bi-list-task"></i>
                Last Tasks
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#members-@Model.Organization.Id" role="tab">
                <i class="bi bi-people"></i>
                Members
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#reports-@Model.Organization.Id" role="tab">
                <i class="bi bi-pie-chart"></i>
                Reports
            </a>
        </li>
    </ul>
    <div class="tab-content py-4">
        <div class="tab-pane active" id="boards-@Model.Organization.Id" role="tabpanel">
            <div class="row">
                @foreach (var item in Model.Boards)
                {
                    <Board Model="@item" />
                }
            </div>
        </div>

        <div class="tab-pane" id="projects-@Model.Organization.Id" role="tabpanel">

            <div class="row">

                <div class="col-md-4 col-sm-12 ">
                    <a href="#">
                        <div class="card bg-success text-white">
                            <div class="card-body">
                                <h5 class="card-title">Project Name</h5>
                                <hr />
                                <small>Description test ...</small>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-12 ">
                    <a href="#">
                        <div class="card bg-success text-white">
                            <div class="card-body">
                                <h5 class="card-title">Project Name</h5>
                                <hr />
                                <small>Description test ...</small>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-12 ">
                    <a href="#">
                        <div class="card bg-success text-white">
                            <div class="card-body">
                                <h5 class="card-title">Project Name</h5>
                                <hr />
                                <small>Description test ...</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            @foreach (var board in Model.Projects)
            {
                <div class="col-md-4 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@board.Name</h5>
                            <p class="card-text">@board.Description</p>
                            <a href="#" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="tab-pane" id="tasks-@Model.Organization.Id" role="tabpanel">

            <div class="col-md-12 col-sm-12 ">
                <a href="#">
                    <div class="card bg-warning text-dark">
                        <div class="card-body">
                            <strong>
                                <i class="bi bi-list-task"></i>
                                this is a test task title ...
                            </strong>
                            <hr />
                            <small class="btn btn-outline-dark">
                                <i class="bi bi-clipboard-plus"></i>
                                test board
                            </small>
                            <small class="btn btn-outline-dark">
                                <i class="bi bi-kanban"></i>
                                test project
                            </small>
                            <small class="btn btn-outline-dark">
                                <i class="bi bi-calendar-date"></i>
                                2021/7/9 23:59:32
                            </small>
                            <small class="btn btn-outline-dark">
                                <i class="bi bi-people"></i>
                                hamed shirbandi
                            </small>
                            <small class="btn btn-outline-dark">
                                <i class="bi bi-clipboard-x"></i>
                                to do card
                            </small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-12 col-sm-12 ">
                <a href="#">
                    <div class="card bg-warning text-dark">
                        <div class="card-body">
                            <strong>
                                <i class="bi bi-list-task"></i>
                                this is a test task title ...
                            </strong>
                            <hr />
                            <small class="btn btn-outline-dark">
                                <i class="bi bi-clipboard-plus"></i>
                                test board
                            </small>
                            <small class="btn btn-outline-dark">
                                <i class="bi bi-kanban"></i>
                                test project
                            </small>
                            <small class="btn btn-outline-dark">
                                <i class="bi bi-calendar-date"></i>
                                2021/7/9 23:59:32
                            </small>
                            <small class="btn btn-outline-dark">
                                <i class="bi bi-people"></i>
                                hamed shirbandi
                            </small>
                            <small class="btn btn-outline-dark">
                                <i class="bi bi-clipboard-x"></i>
                                to do card
                            </small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-12 col-sm-12 ">
                <a href="#">
                    <div class="card bg-warning text-dark">
                        <div class="card-body">
                            <strong>
                                <i class="bi bi-list-task"></i>
                                this is a test task title ...
                            </strong>
                            <hr />
                            <small class="btn btn-outline-dark">
                                <i class="bi bi-clipboard-plus"></i>
                                test board
                            </small>
                            <small class="btn btn-outline-dark">
                                <i class="bi bi-kanban"></i>
                                test project
                            </small>
                            <small class="btn btn-outline-dark">
                                <i class="bi bi-calendar-date"></i>
                                2021/7/9 23:59:32
                            </small>
                            <small class="btn btn-outline-dark">
                                <i class="bi bi-people"></i>
                                hamed shirbandi
                            </small>
                            <small class="btn btn-outline-dark">
                                <i class="bi bi-clipboard-x"></i>
                                to do card
                            </small>
                        </div>
                    </div>
                </a>
            </div>


            @foreach (var task in Model.LastTasks)
            {
                <div class="alert alert-dark" role="alert">
                    @task.Title
                </div>
            }
        </div>

        <div class="tab-pane" id="members-@Model.Organization.Id" role="tabpanel">
            <div class="row">
                <div class="col-md-4 col-sm-12 ">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="@defaultUserImgUrl" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Test user</h5>
                            <p class="card-text">Test@mail.com</p>
                            <a href="#" class="btn btn-sm btn-primary">Email</a>
                            <a href="#" class="btn btn-sm btn-warning">Permissions</a>
                            <a href="#" class="btn btn-sm btn-danger">Remove</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 ">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="@defaultUserImgUrl" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Test user</h5>
                            <p class="card-text">Test@mail.com</p>
                            <a href="#" class="btn btn-sm btn-primary">Email</a>
                            <a href="#" class="btn btn-sm btn-warning">Permissions</a>
                            <a href="#" class="btn btn-sm btn-danger">Remove</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 ">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="@defaultUserImgUrl" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Test user</h5>
                            <p class="card-text">Test@mail.com</p>
                            <a href="#" class="btn btn-sm btn-primary">Email</a>
                            <a href="#" class="btn btn-sm btn-warning">Permissions</a>
                            <a href="#" class="btn btn-sm btn-danger">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="reports-@Model.Organization.Id" role="tabpanel">


            <div class="row">

                <div class="col-md-4 col-sm-12 ">
                    <div class="card bg-primary text-white">
                        <div class="card-body">
                            <h5 class="card-title">@Model.Reports.InvitedMembersCount</h5>
                            <p class="card-text">
                                <i class="bi bi-bar-chart"></i>
                                InvitedMembersCount
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 ">
                    <div class="card bg-primary text-white">
                        <div class="card-body">
                            <h5 class="card-title">@Model.Reports.ProjectsCount</h5>
                            <p class="card-text">
                                <i class="bi bi-bar-chart"></i>
                                ProjectsCount
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 ">
                    <div class="card bg-primary text-white">
                        <div class="card-body">
                            <h5 class="card-title">@Model.Reports.TasksCount</h5>
                            <p class="card-text">
                                <i class="bi bi-bar-chart"></i>
                                TasksCount
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 ">
                    <div class="card bg-primary text-white">
                        <div class="card-body">
                            <h5 class="card-title">@Model.Reports.ToDoTasksCount</h5>
                            <p class="card-text">
                                <i class="bi bi-bar-chart"></i>
                                ToDoTasksCount
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 ">
                    <div class="card bg-primary text-white">
                        <div class="card-body">
                            <h5 class="card-title">@Model.Reports.DoingTasksCount</h5>
                            <p class="card-text">
                                <i class="bi bi-bar-chart"></i>
                                DoingTasksCount
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 ">
                    <div class="card bg-primary text-white">
                        <div class="card-body">
                            <h5 class="card-title">@Model.Reports.DoneTasksCount</h5>
                            <p class="card-text">
                                <i class="bi bi-bar-chart"></i>
                                DoneTasksCount
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public OrganizationDetailsViewModel Model { get; set; }
}
