@model TaskoMask.Application.Core.Dtos.Team.Organizations.OrganizationBasicInfoDto
@{
}

<div class="form">

    <fieldset>

        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-input-1", @readOnly = "readonly" })


        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @class = "form-input-1", @readOnly = "readonly" })


        @Html.LabelFor(model => model.CreationTime.CreateDateTimeString)
        @Html.TextBoxFor(model => model.CreationTime.CreateDateTimeString, new { @class = "form-input-1", @readOnly = "readonly" })

        <hr />

        <a href="@Url.Action("Index", "Members", new { })" class="btn btn-default">
            Back
        </a>

    </fieldset>
</div>
