@using TaskoMask.Application.Share.ViewModels
@using TaskoMask.Application.Share.Dtos.Team.Organizations

@foreach (var item in Model)
{
    <div class="col-10 mx-auto">
        <h5 data-toggle="tooltip" data-placement="left" title="@item.Organization.Description">
            <i class="bi bi-building"></i>
            @item.Organization.Name
            <a @onclick="@(()=>ShowUpdsertModal(item.Organization.Id))" class="text-warning" title="Edit">
                <i class="bi bi-pencil"></i>
            </a>
        </h5>

        <TabNav Model="@item.Organization" />

        <div class="tab-content py-4">
            <div class="tab-pane active" id="boards-@item.Organization.Id" role="tabpanel">
                <div class="row">
                    <Boards Model="@item.Boards" />
                </div>
            </div>

            <div class="tab-pane" id="projects-@item.Organization.Id" role="tabpanel">
                <div class="row">
                    <Projects Model="@item.Projects" />
                </div>
            </div>

            <div class="tab-pane" id="tasks-@item.Organization.Id" role="tabpanel">
                <div class="row">
                    <Tasks Model="@item.LastTasks" />
                </div>
            </div>

            <div class="tab-pane" id="members-@item.Organization.Id" role="tabpanel">
                <div class="row">
                    <Members Model="@item.Members" />
                </div>
            </div>

            <div class="tab-pane" id="reports-@item.Organization.Id" role="tabpanel">
                <div class="row">
                    <Reports Model="@item.Reports" />
                </div>
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    public IEnumerable<OrganizationDetailsViewModel> Model { get; set; }



    /// <summary>
    ///
    /// </summary>
    private void ShowUpdsertModal(string organizationId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(OrganizationUpsertDto.Id), organizationId);
        ModalService.Show<Pages.Organizations.Components.Upsert>("Update organization", parameters, new ModalOptions { DisableBackgroundCancel = true });
    }
}
