@using TaskoMask.Application.Share.Dtos.Workspace.Projects

@if (!Model.Any())
{
    <div class="alert alert-warning">
        <b>There isn't any project yet!</b>
        <hr>
        <small>
            You can add new project by using
            <b>
                <a @onclick="@(()=>ShowCreateModal())" class="text-info">
                    <i class="bi bi-kanban"></i>
                    New Project
                </a>
            </b>
            item from the top menue
            <i class="bi bi bi-plus-circle"></i>
        </small>
    </div>
}
else
{
    foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-12 ">
            <div class="card bg-success text-white">
                <h5 class="card-header">
                    @item.Name
                    <a @onclick="@(()=>ShowUpdateModal(item.Id))" class="text-warning" title="Edit">
                        <i class="bi bi-pencil"></i>
                    </a>
                </h5>
                <a href="@($"/project/{item.Id}")">
                    <div class="card-body text-white">
                        <small>@item.Description</small>
                    </div>
                </a>
            </div>
        </div>
    }
}



@code {
    [Parameter]
    public IEnumerable<ProjectBasicInfoDto> Model { get; set; }

    [Parameter]
    public string OrganizationId { get; set; }




    /// <summary>
    ///
    /// </summary>
    private void ShowCreateModal( )
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(Pages.Projects.Components.CreateProject.OrganizationId), OrganizationId);
        ModalService.Show<Pages.Projects.Components.CreateProject>("Create project", parameters, new ModalOptions { DisableBackgroundCancel = true });
    }


    /// <summary>
    ///
    /// </summary>
    private void ShowUpdateModal(string projectId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(Pages.Projects.Components.UpdateProject.Id), projectId);
        ModalService.Show<Pages.Projects.Components.UpdateProject>("Update project", parameters, new ModalOptions { DisableBackgroundCancel = true });
    }
}
