@model TaskoMask.Application.Share.Dtos.Authorization.Users.UserChangePasswordDto

<form class="form" asp-action="ChangePassword" data-ajax="true" data-ajax-loading="#global-ajax-loading" data-ajax-method="Post">
    <fieldset>
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)

        @Html.LabelFor(model => model.OldPassword)
        @Html.PasswordFor(model => model.OldPassword, new { @class = "form-input-1" })
        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "form-message is-error" })


        @Html.LabelFor(model => model.NewPassword)
        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-input-1" })
        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "form-message is-error" })

        @Html.LabelFor(model => model.ConfirmNewPassword)
        @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-input-1" })
        @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "form-message is-error" })


        <hr />
        <button type="submit" class="btn btn-primary">
          Change Password
        </button>

    </fieldset>
</form>

