@model IEnumerable<TaskoMask.Application.Share.Dtos.Team.Members.MemberOutputDto>

@if (Model.Count() == 0)
{
    <div id="no-item-alert-area" class="grid-container">
        <div class="alert alert-info">
            <h4>No item to show!</h4>
        </div>
    </div>
}
else
{
    <div class="block-content has-table">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>@Html.LabelFor(model => model.FirstOrDefault().DisplayName)</th>
                        <th>@Html.LabelFor(model => model.FirstOrDefault().CreationTime.CreateDateTimeString)</th>
                        <th>@Html.LabelFor(model => model.FirstOrDefault().OrganizationsCount)</th>
                        <th><label></label></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr data-table-row-id="@item.Id">
                            <td>
                                @item.DisplayName
                            </td>
                            <td>
                                @item.CreationTime.CreateDateTimeString
                            </td>
                            <td>
                                @item.OrganizationsCount
                            </td>
                      
                            <td>
                                <div class="btn-group-xs">
                                    <a href="@Url.Action( "Details", new { id = item.Id }) " class=" btn btn-primary btn-xs btn-xs-circle">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    @await Html.PartialAsync("_PagedList")
}


