@using TaskoMask.BuildingBlocks.Contracts.Dtos.Organizations 



<div class="col-md-4 col-sm-6 col-6 p-2">
    <div class="card bg-primary text-white">
        <div class="card-body">
            <h5 class="card-title">@Model.ProjectsCount</h5>
            <p class="card-text">
                <i class="bi bi-bar-chart"></i>
                Projects
            </p>
        </div>
    </div>
</div>


<div class="col-md-4 col-sm-6 col-6 p-2">
    <div class="card bg-primary text-white m-0">
        <div class="card-body">
            <h5 class="card-title">@Model.BoardsCount</h5>
            <p class="card-text">
                <i class="bi bi-bar-chart"></i>
                Boards
            </p>
        </div>
    </div>
</div>

<div class="col-md-4 col-sm-6 col-6 p-2">
    <div class="card bg-primary text-white">
        <div class="card-body">
            <h5 class="card-title">@Model.BacklogTasksCount</h5>
            <p class="card-text">
                <i class="bi bi-bar-chart"></i>
                Backlog
            </p>
        </div>
    </div>
</div>

<div class="col-md-4 col-sm-6 col-6 p-2">
    <div class="card bg-primary text-white">
        <div class="card-body">
            <h5 class="card-title">@Model.ToDoTasksCount</h5>
            <p class="card-text">
                <i class="bi bi-bar-chart"></i>
                ToDo
            </p>
        </div>
    </div>
</div>

<div class="col-md-4 col-sm-6 col-6 p-2">
    <div class="card bg-primary text-white">
        <div class="card-body">
            <h5 class="card-title">@Model.DoingTasksCount</h5>
            <p class="card-text">
                <i class="bi bi-bar-chart"></i>
                Doing
            </p>
        </div>
    </div>
</div>

<div class="col-md-4 col-sm-6 col-6 p-2">
    <div class="card bg-primary text-white">
        <div class="card-body">
            <h5 class="card-title">@Model.DoneTasksCount</h5>
            <p class="card-text">
                <i class="bi bi-bar-chart"></i>
                Done
            </p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public OrganizationReportDto Model { get; set; }
}
