@model TaskoMask.Application.Core.Dtos.Permissions.PermissionInputDto
@{
}

<form class="form" asp-action="@ViewContext.RouteData.Values["action"]" data-ajax="true" data-ajax-loading="#global-ajax-loading" data-ajax-method="Post">

    <fieldset>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        @Html.LabelFor(model => model.DisplayName)
        @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-input-1" })
        @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "form-message is-error" })


        @Html.LabelFor(model => model.SystemName)
        @Html.TextBoxFor(model => model.SystemName, new { @class = "form-input-1" })
        @Html.ValidationMessageFor(model => model.SystemName, "", new { @class = "form-message is-error" })


        @Html.LabelFor(model => model.GroupName)
        @Html.TextBoxFor(model => model.GroupName, new { @class = "form-input-1" })
        @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "form-message is-error" })


        <hr />
        <button type="submit" class="btn btn-primary">
            Save
        </button>
        <a href="@Url.Action("Index", "Permissions", new { })" class="btn btn-default">
            Back
        </a>
    </fieldset>
</form>

